<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.muttix.android.app.msfsmap"
    android:versionCode="2200"
    android:versionName="2.2.0.0-RV">

    <!-- 网络权限 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <!-- 定位权限 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <!-- 摄像头权限 -->
    <uses-permission android:name="android.permission.CAMERA"/>

    <!-- 摄像头特性声明，可选设备不强制要求 -->
    <uses-feature android:name="android.hardware.camera" android:required="false"/>
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MSFSMap">
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="705d15baa26b9fcc81a8d946b8395395"/>
        <activity android:name=".MapActivity"/>
        <activity android:name=".ScanActivity" />
        <activity android:name=".scanP" />
        <activity
            android:name=".ConnectActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>